<%- include("navbar") %>

<div class="container mt-4">
  <h3>Add Government Scheme</h3>

  <form action="/admin/add_Government_Schemes" method="POST" enctype="multipart/form-data">
    
    <!-- Language Select Right Top ला -->
    <div class="d-flex justify-content-end mb-3">
      <div style="width:200px;">
        <label class="form-label">Language</label>
        <select name="language" class="form-select" required>
          <option value="en" selected>English</option>
          <option value="mr">Marathi</option>
          <option value="hi">Hindi</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label>Heading</label>
      <input type="text" name="heading" class="form-control" required>
    </div>
    
    <div class="mb-3">
      <label>Description</label>
      <textarea name="description" class="form-control" rows="5"></textarea>
    </div>
    
    <div class="mb-3">
      <label>Button Link</label>
      <input type="text" name="link" class="form-control">
    </div>

    <div class="mb-3">
      <label>Image</label>
      <input type="file" name="image" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/admin/Government_Scheme_list" class="btn btn-secondary">Cancel</a>
  </form>
</div>

<%- include('footer') %>
