<%- include("navbar") %>
<div class="container mt-4">
  <h3>Add Farming Tip</h3>
  <form action="/farming/add" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label>Title</label>
      <input type="text" name="title" placeholder="Enter Title" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Category</label>
      <input type="text" name="category" placeholder="Enter Category" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Description</label>
      <textarea name="description" placeholder="Enter Description" class="form-control" rows="5"></textarea>
    </div>
    <div class="mb-3">
      <label>Image</label>
      <input type="file" name="image" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/farming" class="btn btn-secondary">Cancel</a>
  </form>
</div>
